
#head{
	background:url(../images/ICIMCS2014.png);
	background-color:#EEE;
	width:1000px;
	height:150px;
}

#headtitle{
	float:left;
	font-family:Arial,sans-serif;
	font-size:72px;
	font-weight:bold;
	line-height:1.5em;
	width:400px;
}

#headdescription{
	float:left;
	font-size:12px;
	margin-top:20px;
	margin-left:250px;
	text-align:right;
	width:300px;
}

/*navigation*/
#navigation { 
	position:relative;
	font-size:12px;
	font-weight:bold;
	/*background-color:#2687eb; */
	/*width:1000px;*/
} 
#navigation li { 
	float:left; 
	position:relative; 
	text-align:center;
	
} 
#navigation li a:link, #navigation li a:visited { 
	display:block; 
	height:40px; 
	line-height:40px; 
	border:1px solid #2687eb; 
	border-width:1px 1px 0 0; 
	background-color:#2687eb; 
	padding-left:5px; 
} 
#navigation li a:hover { 
	color:#FF0; 
	background-color:#000; 
} 
#container ul{
	z-index:100;
}
#navigation li ul { 
	/*border-bottom:1px solid #333;*/
	display:none; 
	position:absolute; 
	top:40px; 
	left:0; 
	margin-top:1px; 
}
#navigation li ul li{
	text-align:left;
	
} 
#navigation li ul li a:link, #navigation li ul li a:visited{
	background-color:#000;
	padding-left:5px;
	color:#fff;
}
#navigation li ul li a:hover { 
	color:#fff; 
	background-color:#888; 
} 
#callforpapersNav, #committeeNav, #travelNav{
	/*z-index:1000;*/
}
#callforpapersNav li a:link, #callforpapersNav a:visited{
	width:130px;
}
#callforpapersNav li{
}

#specialsessionNav li a:link, #specialsessionNav a:visited{
	width:160px;
}

#programNav li a:link, #programNav a:visited{
	width:120px;
}

#callforpapersNav li a:hover{
	width:130px;
}
#committeeNav li a:link, #committeeNav a:visited{
	width:180px;
}
#committeeNav li a:hover{
}
#travelNav li a:link, #travelNav a:visited{
	width:127px;
}
#travelNav li a:hover{
}

/* gallery */
.gallery2{width:1000px;height:360px;background:url(../images/loadsmall.gif) #000 no-repeat 330px 120px;overflow:hidden;position:relative;}
.gallery{background:url(../images/loadsmall.gif) #000 no-repeat 330px 120px;overflow:hidden;width:1000px;position:relative;height:360px;z-index:1;}
.gallery ul{z-index:9;right:0;position:absolute;text-align:left;}
.gallery ul li{display:block;font-weight:900;font-size:12px;float:top;width:150px;color:#aaa;font-family:Arial;position:relative;height:50px;}
.gallery li div{margin-top:5px;display:block;padding-left:10px;margin-left:70px;color:#ddd;}
.gallery li img{border-right:#fff 1px solid;border-top:#fff 1px solid;filter:alpha(opacity=60);left:10px;float:left;border-left:#fff 1px solid;width:52px;cursor:pointer;margin-right:4px;border-bottom:#fff 1px solid;position:absolute;top:5px;height:35px;moz-opacity:.6;}
.gallery li.current div {display:block;color:#fff;}
.gallery .frontText{font-weight:900;font-size:30px;height:36px;line-height:36px;z-index:9;left:20px;width:100%;color:#fff;font-family:Verdana;position:absolute;top:40px;}
.gallery .frontTextBack{font-weight:900;font-size:30px;height:36px;line-height:36px;left:22px;width:100%;color:#000;font-family:Verdana;position:absolute;top:42px;}
.gallery .frontTextSub{font-size:20px;height:26px;line-height:26px;left:25px;width:100%;color:#fff;font-family:Verdana;position:absolute;top:80px;}
.gallery .bg{border-left:#999 1px solid;background-color:#666;filter:alpha(opacity=60);opacity:0.6;width:145px;right:0;position:absolute;height:100%;text-align:right;}
.gallery .mask{z-index:0;background:url(images/mask.gif);left:0;width:100%;position:absolute;top:0;height:100%;}
.gallery .picshow{text-align:left;}
.gallery .gray{FILTER：ALPHA(opacity=opacity);}


/*leftNav*/
#leftNav{
	float:left;
	margin-top:20px;
	min-height:400px;
	text-align:left;
	width:260px;
}
#titleNav{
	background-color:#fefefe;
	display:block;
	margin-bottom:20px;
	text-align:center;
	color:#09F;
	width:260px;
	border-bottom: 1px solid #f2f2f2;
}
.navItem{
	//margin-top:5px;
	margin-bottom:10px;
	margin-left:10px;
	width:250px;
	font-family:Helvetica;
}
.leftItem{
	font-size:14px;
	color:#222;
	line-height:1.2em;
	margin:0px;
	width:200px;
}
.leftItem a {
	//font-family:Courier New, Verdana;
	color:#222;
	font-weight:bold;
}
.oldNews{
	//color:#55f;
	//font-weight:bold;
}
a.latestNews {
	color:#F35;
	font-weight:bold;
}
.leftDate{
	color:#F35;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:1.2em;
	margin:0px;
	text-align:left;
	margin-left:2em;
	width:240px;
	/*padding-left:180px;*/
}
.rightDate{
	color:#999;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:1.2em;
	margin:0px;
	text-align:left;
	margin-left:15em;
	width:240px;
	/*padding-left:180px;*/
}

/*right content*/
#rightContent{
	border:#bbb solid;
	border-width:2px 1px 2px 1px;
	float:left;
	margin-top:20px;
	margin-bottom:20px;
	min-height:500px;
	width:705px;
}
.textBlock{
	text-align:left;
	margin-bottom:10px;
	
}
.textTitle{
	background:#09F;
	font-size:20px;
	font-weight:bold;
	line-height:2em;
	padding-left:1em;
	color:#FFF;
}
.textContent{
	font-size:14px;
	padding:0.5em 1em 0.5em 1em;
	text-align:justify;
	line-height:1.5em;
}
.textContent a{
	font-family:Arial, Georgia, serif;
	font-style:;
	color:#33f;
}
.textContent a:hover{
	color:#46e;
	text-decoration:;
}
.textContent ul{
	line-height:1.5em;
	margin-top:1em;
	margin-bottom:1em;
}
.textContent ul li{
	list-style:disc;
	margin-left:2em;
}
.pdfDownload{
	font-size:12px;
	font-weight:bold;
	text-align:right;
	padding-right:20px;
}
.imgPanel{
	padding:2em 0em 1em 0em;
	text-align:center;
	/*margin:10px 10px 10px 10px;*/
}
.imgPanel img{
	margin:10px 10px 10px 10px;
}

.sponsorlogo{
	width:180px;
	height:60px;
	margin:10px 10px 10px 10px;
}


/*Committee Style*/
.committeeBlock{
	/*as textBlock*/
	float:left;
	text-align:left;
	margin-bottom:20px;
	padding:5px 0px 5px 0px;
	width:600px;
}
.committeeTitle{
	border-bottom:2px solid #4af;
	font-size:16px;
	font-weight:bold;
	line-height:2em;
	margin-bottom:10px;
}
.personalCard{
	float:left;
	padding:5px 10px 5px 10px;
	width:280px;
	height:160px;
}
.personalCard img{
	float:left;
	height:140px;
	width:105px;
	padding:0;
}
.personalName{
	display:block;
	float:left;
	font-size:20px;
	margin:60px 0px 10px 10px;
	width:150px;
}
.personalName a{
	word-spacing:0.2em;
}
.personalDepartment{
	float:left;
	font-size:12px;
	margin:0px 5px 10px 10px;
	width:160px;
}
/*technical program committee*/
.committeeBlock ul{
	border:#000 solid;
	border-width:2px 0px 1px 0px;
	margin-left:30px;
	width:580px;
}
.committeeBlock ul li{
	list-style:none;
	border-bottom:1px solid #000;
	clear:both;
	line-height:2em;
	margin-left:0em;
	padding:0em 0em 0em 20px;
}
.listName{
	display:block;
	float:left;
	width:230px;
}
.listName .firstName{
	display:block;
	float:left;
	width:110px;
}
.listDepartment{
	display:block;
	float:left;
	font-size:12px;
	padding-left:10px;
	width:320px;
}

/*Keynote*/
.keynoteBlock{
	float:left;
	text-align:left;
	margin-bottom:20px;
	padding:5px 0px 5px 0px;
	width:640px;
}
.keynoteTitle{
	border-bottom:2px solid #4af;
	font-size:16px;
	font-weight:bold;
	line-height:2em;
	margin-top:20px;
	margin-bottom:10px;
}
.keynoteContent .pimg{
	float:left;
	height:160px;
	width:120px;
	margin-top:20px;
	padding:0;
}
.keynoteContent .foldimg{
	float:left;
	height:14px;
	width:14px;
	padding:0;
}
.keynoteContent .sptitle{
	font-size:14px;
	line-height:1.3em;
}
.keynoteContent div{
	float:left;
	width:500px;
	padding:0px 0px 20px 20px;
	text-align:justify;
}
.keynoteContent p{
	line-height:1.3em;
}

/*Program*/
.sslink{
	color:#46e;
	font-size:18px;
	font-style:none;
	line-height:2em;
}
.sslink:visited{
	color:#333;
}
.sslink a:hover{
	color:#f22;
}
.ssblock{
	margin-bottom:30px;
}
.overdate{
	text-decoration:line-through;
	color:#bbb;
}




/*foot*/
#foot{
	float:left;
	background-color:#EEE;
    height:70px;
    text-align:center;
	width:1000px;
}
#copyrightText
{
	font-size:16px;
    padding-top:15px;
}
#copyrightText a, #copyrightText a:visited{
	font-size:16px;
}
.g_box{
	border-width: 1px;
	border-color: #C9C9C9;
	border-style: solid;
	box-shadow: 0px 1px 2px #D3D3D3;
	margin:5px;
	
}










